<footer style="
  background-color: #e9ecef;
  color: black;
  text-align: center;
  padding: 1em;
  margin-top: 2em;
">
  <img src="/assets/images/sbd_it_footer@3x.png" alt="Banner" style="width: 100%;">
  <p style="margin-top: 0.5em;">SoBigData.it receives funding from European Union – NextGenerationEU – National Recovery and Resilience Plan (Piano Nazionale di Ripresa e Resilienza, PNRR) – Project: “SoBigData.it – Strengthening the Italian RI for Social Mining and Big Data Analytics” – Prot. IR0000013 – Avviso n. 3264 del 28/12/2021.”</p>
</footer>
